body
{
	margin: 0px;
	height: 600px;
	width: 800px;
}
img
{
	height: 75px;
}
.content
{
	height: 500px;
	text-align: center;
}
#begin
{
	background-color: rgba(105,115,117,1);
}
#audience
{
	background-color: rgba(192,57,43,1);
}
#audience_example
{
	border-color: white;
	border-width: 20px;
}
#behavior
{
	background-color: rgba(243,156,18,1);
}
#condition
{
	background-color: rgba(39,174,96,1);
}
#degree
{
	background-color: rgba(41,128,185,1);
}
#finish
{
	background-color: rgba(142,68,173,1);
}
.textbox
{
	display: block;
	margin-left: 250px;
}
h1
{
	font-family: 'Open Sans', sans-serif;
	font-size: 60px;
	color: white;
	margin: 50px;
}
h2
{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: white;
}
p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: white;
	text-align: center;
}
#splash_title
{
	margin-bottom: -5px;
}
#splash_text
{
	font-size: 18px;
	padding: 10px;
}
.blocks
{
	width: 15%;
	height: 7px;
	margin-right: -10px;
	margin-top: -5px;
	display: inline-block;
}
#red_block
{
	background-color: rgba(192,57,43,1);
}
#orange_block
{
	background-color: rgba(243,156,18,1);
}
#green_block
{
	background-color: rgba(39,174,96,1);
}
#blue_block
{
	background-color: rgba(41,128,185,1);
}
#purple_block
{
	background-color: rgba(142,68,173,1);
}
#master_behavior
{
	width: 550px;
	height: 250px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
#domain_div
{
	width: 150px;
	height: 250px;
	position: absolute;
	left: 0px;
	top: 0px;

}
#level_div
{
	width: 150px;
	height: 250px;
	position: absolute;
	left: 200px;
	top: 0px;
}
#verb_div
{
	width: 150px;
	height: 250px;
	position: absolute;
	left: 400px;
	top: 0px;
}
.line
{
	border-color: white;
	border-width: 2px;
}
select
{
	width: 150px;
}
.next_button
{
	display: block;
	position: absolute;
	bottom:5%;
	right: 5%;
}
.prev_button
{
	position: absolute;
	display: block;
	bottom:5%;
	left: 5%;
}
textarea
{
	margin-left: 150px;
	display: block;
}
#bottom_bar
{
	background-color: rgba(189,195,199,1);
	height: 100px;
	width: 800px;
	position: relative;
}
#objective
{
	margin: 0;
	padding: 0;
	height: 50px;
	width: 800px;
}
#bottom_bar_buttons {
	position: absolute;
	bottom: 0;
	height: 50px;
	width: 800px;
}
#bottom_bar_buttons div
{
	display: inline-block;
	width: 14%;	
	height: 25px;
	text-align: center;
	padding: 5px;
	cursor: pointer;
}
.slidesjs-pagination
{
	display: none;
} 
#objective_condition
{
	color: rgba(39,174,96,1);
	text-decoration: underline;
	cursor: pointer;
}
	#objective_condition:hover
	{
		color: white;
		background-color: rgba(39,174,96,1);
		text-decoration: none;
	}
#objective_audience
{
	color: rgba(192,57,43,1);
	text-decoration: underline;
	cursor: pointer;
}
	#objective_audience:hover
	{
		color: white;
		background-color: rgba(192,57,43,1);
		text-decoration: none;
	}
#objective_behavior
{
	color: rgba(243,156,18,1);
	text-decoration: underline;
	cursor: pointer;
}
	#objective_behavior:hover
	{
		color: white;
		background-color: rgba(243,156,18,1);
		text-decoration: none;
	}
#objective_degree
{
	color: rgba(41,128,185,1);
	text-decoration: underline;
	cursor: pointer;
}
	#objective_degree:hover
	{
		color: white;
		background-color: rgba(41,128,185,1);
		text-decoration: none;
	}
#bar_condition
{
	font-family: 'Open Sans', sans-serif;
	background-color: rgba(39,174,96,1);
	border-radius: 3px;
	color: white;
}
#bar_audience
{
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	background-color: rgba(192,57,43,1);
	border-radius: 3px;
	color: white;
	margin-left: 110px;
}
#bar_behavior
{
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	background-color: rgba(243,156,18,1);
	border-radius: 3px;
	color: white;
}
#bar_degree
{
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	background-color: rgba(41,128,185,1);
	border-radius: 3px;
	color: white;
}
#bottom_bar_buttons div#bar_finish 
{
	height: 35px;
	width: 35px;
	margin: 0;
	padding: 0;
}
#bar_finish img
{
	height: 35px;
	width: 35px;
}
