body
{
	margin: 0px;
	height: 600px;
	width: 800px;
}
img
{
	height: 75px;
}
#master
{
	width: 800px;
	height: 600px;
}
.content
{
	padding-bottom: 600px;
	text-align: center;
}
#begin
{
	background-color: rgba(105,115,117,1);
}
#audience
{
	background-color: rgba(192,57,43,1);
}
#audience_example
{
	border-color: white;
	border-width: 20px;
}
#behavior
{
	background-color: rgba(243,156,18,1);
}
#condition
{
	background-color: rgba(39,174,96,1);
}
#degree
{
	background-color: rgba(41,128,185,1);
}
#finish
{
	background-color: rgba(142,68,173,1);
}
.textbox
{
	display: block;
	margin-left: 250px;
}
h1
{
	font-family: 'Open Sans', sans-serif;
	font-size: 60px;
	color: white;
	margin-top: 80px;
}
h2
{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: white;
}
p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: white;
	text-align: center;
}
#splash_title
{
	margin-bottom: -5px;
}
#splash_text
{
	font-size: 18px;
	padding: 10px;
}
.blocks
{
	width: 15%;
	height: 7px;
	margin-right: -10px;
	margin-top: -5px;
	display: inline-block;
}
#red_block
{
	background-color: rgba(192,57,43,1);
}
#orange_block
{
	background-color: rgba(243,156,18,1);
}
#green_block
{
	background-color: rgba(39,174,96,1);
}
#blue_block
{
	background-color: rgba(41,128,185,1);
}
#purple_block
{
	background-color: rgba(142,68,173,1);
}
#domain_div
{
	margin-right: 60%;
	display: inline-block;

}
#level_div
{
	margin-top: -10%;

}
#verb_div
{
	margin-left: 60%;
	margin-top: -10%;
}
.line
{
	border-color: white;
	border-width: 2px;
}
select
{
	width: 150px;
}
.next_button
{
	display: inline-block;
	padding-left: 50%;
	padding-top: 5%;
	position: bottom-right;
}
.next-button-text
{
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	margin-left: 50px;
}
.prev_button
{
	display: inline-block;
}
textarea
{
	margin-left: 150px;
	display: block;
}
#bottom_bar
{
	background-color: rgba(189,195,199,1);
	height: 50px;
	width: 800px;
}

#bottom_bar div
{
	display: inline-block;
	width: 14%;	
	height: 25px;
	text-align: center;
	padding: 5px;
	margin-top: 5px;
}

.slidesjs-pagination
{
	display: none;
} 

#bar_condition
{
	font-family: 'Open Sans', sans-serif;
	background-color: rgba(39,174,96,1);
	border-radius: 3px;
	color: white;
}
#bar_audience
{
	font-family: 'Open Sans', sans-serif;
	background-color: rgba(192,57,43,1);
	border-radius: 3px;
	color: white;
}
#bar_behavior
{
	font-family: 'Open Sans', sans-serif;
	background-color: rgba(243,156,18,1);
	border-radius: 3px;
	color: white;
}
#bar_degree
{
	font-family: 'Open Sans', sans-serif;
	background-color: rgba(41,128,185,1);
	border-radius: 3px;
	color: white;
}
#bar_finish
{
	font-family: 'Open Sans', sans-serif;
	background-color: rgba(142,68,173,1);
	border-radius: 3px;
	color: white;
}